@using Lombiq.Privacy.Constants

@{
    Script.Require("jQueryUI");
    Style.Require("jQueryUI");

    Script.Require(ResourceNames.JsCookie);
}

<div id="consent-banner" class="consentBanner" title="@T("Compliance check")" hidden>
    @Display.Lombiq_Privacy_ConsentBanner_Text()
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
        ; (function ($) {
            $(function () {
                if (Cookies.get("@CookieNames.HasConsent") !== "true") {
                    $("#consent-banner").dialog({
                        position: {
                            my: "right top", at: "right top", of: $("#layout-main-container")
                        },
                        buttons: {
                            "@T("I agree, don't show me this any more").Text": function () {
                                Cookies.set("@CookieNames.HasConsent", "true", { expires: 1000 });
                                $(this).dialog("close");
                            },
                            "@T("I agree, but continue to show me this each time I visit the site").Text": function () {
                                Cookies.set("@CookieNames.HasConsent", "true");
                                $(this).dialog("close");
                            },
                        }
                    });
                }
            });
        })(jQuery);
    </script>
}