@using Lombiq.Privacy.Constants

@{
    Script.Require("jQueryUI");
    Style.Require("jQueryUI");

    Script.Require(ResourceNames.JsCookie);

    Style.Require(ResourceNames.ConsentBanner);

    const string ConsentBannerId = "consent-banner";
}


<div id="@ConsentBannerId" class="consentBanner" title="@T("Privacy consent")" hidden>
    <span>
        @Display.Lombiq_Privacy_ConsentBanner_Text()
    </span>
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
        ; (function ($) {
            $(function () {
                if (Cookies.get("@CookieNames.HasConsent") !== "true") {
                    $("#@ConsentBannerId").dialog({
                        closeOnEscape: false,
                        resizable: false,
                        draggable: false,
                        position: {
                            my: "left top",
                            at: "right top+50",
                            of: "html"
                        },
                        open: function (event, ui) {
                            jQuery('.ui-dialog-titlebar-close').hide();
                        },
                        buttons: {
                            "@T("I agree, do not show me this any more").Text": function () {
                                Cookies.set("@CookieNames.HasConsent", "true", { expires: 1000 });
                                $(this).dialog("close");
                            },
                            "@T("I agree, but continue to show me this each time I visit the site").Text": function () {
                                Cookies.set("@CookieNames.HasConsent", "true");
                                $(this).dialog("close");
                            },
                        }
                    });
                }
            });
        })(jQuery);
    </script>
}